[Desktop Entry]
Encoding=UTF-8
Name=Alps
Comment=Alps P2P Cryptocurrency
Comment[fr]=Alps, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Alps, eşten eşe kriptografik sanal para birimi
Exec=alps-qt %u
Terminal=false
Type=Application
Icon=alps128
MimeType=x-scheme-handler/alps;
Categories=Office;Finance;
